<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Game</title>
</head>
<body>
  <form method="post">
    <img src="<%= teams.Team1.imgUrl %>" alt=""> <br><br>

    <label for="">Mid Laner</label><br>
    <select name="midlanerTeam1"><br>
      <option disable selected>Pilih Mid Laner</option>
      <% teams.Team1.Players.forEach(player => { %>
        <option value="<%= player.id %>"><%= player.inGameName %></option>
      <% }) %>
    </select>
    <select name="midlaneTeam1">
      <option disabled selected>Select Hero</option>
      <% heroes.forEach(hero => { %>
        <option value="<%= hero.id %>"><%= hero.name %></option>
      <% }) %>
    </select>
    <br><br>

    <label for="">Gold Laner</label><br>
    <select name="goldlanerTeam1"><br>
      <option disable selected>Pilih Gold Laner</option>
      <% teams.Team1.Players.forEach(player => { %>
        <option value="<%= player.id %>"><%= player.inGameName %></option>
      <% }) %>
    </select>
    <select name="goldlaneTeam1">
      <option disabled selected>Select Hero</option>
      <% heroes.forEach(hero => { %>
        <option value="<%= hero.id %>"><%= hero.name %></option>
      <% }) %>
    </select>
    <br><br>

    <label for="">Exp Laner</label><br>
    <select name="explanerTeam1"><br>
      <option disable selected>Pilih Exp Laner</option>
      <% teams.Team1.Players.forEach(player => { %>
        <option value="<%= player.id %>"><%= player.inGameName %></option>
      <% }) %>
    </select>
    <select name="explaneTeam1">
      <option disabled selected>Select Hero</option>
      <% heroes.forEach(hero => { %>
        <option value="<%= hero.id %>"><%= hero.name %></option>
      <% }) %>
    </select>
    <br><br>

    <label for="">Roamer</label><br>
    <select name="roamerTeam1"><br>
      <option disable selected>Pilih Roamer</option>
      <% teams.Team1.Players.forEach(player => { %>
        <option value="<%= player.id %>"><%= player.inGameName %></option>
      <% }) %>
    </select>
    <select name="roamTeam1">
      <option disabled selected>Select Hero</option>
      <% heroes.forEach(hero => { %>
        <option value="<%= hero.id %>"><%= hero.name %></option>
      <% }) %>
    </select>
    <br><br>

    <label for="">Jungler</label><br>
    <select name="junglerTeam1"><br>
      <option disable selected>Pilih Jungler</option>
      <% teams.Team1.Players.forEach(player => { %>
        <option value="<%= player.id %>"><%= player.inGameName %></option>
      <% }) %>
    </select> 
    <select name="jungleTeam1">
      <option disabled selected>Select Hero</option>
      <% heroes.forEach(hero => { %>
        <option value="<%= hero.id %>"><%= hero.name %></option>
      <% }) %>
    </select>
    <br><br>

    <img src="<%= teams.Team2.imgUrl %>" alt=""> <br><br>

    <label for="">Mid Laner</label><br>
    <select name="midlanerTeam2"><br>
      <option disable selected>Pilih Mid Laner</option>
      <% teams.Team2.Players.forEach(player => { %>
        <option value="<%= player.id %>"><%= player.inGameName %></option>
      <% }) %>
    </select>
    <select name="midlaneTeam2">
      <option disabled selected>Select Hero</option>
      <% heroes.forEach(hero => { %>
        <option value="<%= hero.id %>"><%= hero.name %></option>
      <% }) %>
    </select>
    <br><br>

    <label for="">Gold Laner</label><br>
    <select name="goldlanerTeam2"><br>
      <option disable selected>Pilih Gold Laner</option>
      <% teams.Team2.Players.forEach(player => { %>
        <option value="<%= player.id %>"><%= player.inGameName %></option>
      <% }) %>
    </select>
    <select name="goldlaneTeam2">
      <option disabled selected>Select Hero</option>
      <% heroes.forEach(hero => { %>
        <option value="<%= hero.id %>"><%= hero.name %></option>
      <% }) %>
    </select>
    <br><br>

    <label for="">Exp Laner</label><br>
    <select name="explanerTeam2"><br>
      <option disable selected>Pilih Exp Laner</option>
      <% teams.Team2.Players.forEach(player => { %>
        <option value="<%= player.id %>"><%= player.inGameName %></option>
      <% }) %>
    </select>
    <select name="explaneTeam2">
      <option disabled selected>Select Hero</option>
      <% heroes.forEach(hero => { %>
        <option value="<%= hero.id %>"><%= hero.name %></option>
      <% }) %>
    </select>
    <br><br>

    <label for="">Roamer</label><br>
    <select name="roamerTeam2"><br>
      <option disable selected>Pilih Roamer</option>
      <% teams.Team2.Players.forEach(player => { %>
        <option value="<%= player.id %>"><%= player.inGameName %></option>
      <% }) %>
    </select>
    <select name="roamTeam2">
      <option disabled selected>Select Hero</option>
      <% heroes.forEach(hero => { %>
        <option value="<%= hero.id %>"><%= hero.name %></option>
      <% }) %>
    </select>
    <br><br>

    <label for="">Jungler</label><br>
    <select name="junglerTeam2"><br>
      <option disable selected>Pilih Jungler</option>
      <% teams.Team2.Players.forEach(player => { %>
        <option value="<%= player.id %>"><%= player.inGameName %></option>
      <% }) %>
    </select> 
    <select name="jungleTeam2">
      <option disabled selected>Select Hero</option>
      <% heroes.forEach(hero => { %>
        <option value="<%= hero.id %>"><%= hero.name %></option>
      <% }) %>
    </select>

    <br><br><br>

    <label for="winner">Winner</label>
    <input type="radio" name="winner" value="<%=teams.Team1.id%>"><%= teams.Team1.abbreviation %>
    <input type="radio" name="winner" value="<%=teams.Team2.id%>"><%= teams.Team2.abbreviation %>

    <br><br><br>

    <button type="submit">Tambahkan Game</button>

  </form>
</body>
</html>